html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    vertical-align:baseline;
    font-family:Arial, "微软雅黑", Verdana, Helvetica, sans-serif;
    *font-family:"Microsoft YaHei", Verdana, Helvetica, sans-serif;
}
blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:""; content:none;}

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}

del { text-decoration:line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help;}

table { border-collapse:collapse; border-spacing:0;}

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}

input, select { vertical-align:middle; }

@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Arial, "微软雅黑", Verdana, Helvetica, sans-serif!important;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],

input[type="reset"],

input[type="button"]{-webkit-appearance:none; resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */

/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    width:100%;
    display:block;
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header, menu,nav,section{margin:0; padding:0;}
body{font-family: Microsoft YaHei, "Helvetica Neue", Helvetica, Arial, sans-serif;background: #f8f8f8;}

em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#8B8B8B; font-family: Hiragino Sans GB(W3),Hiragino Sans GB,'宋体',Microsoft YaHei,Tahoma,Arial,sans-serif;display: block;}
a:hover{text-decoration:none;}
ul,ol{list-style:none;}
*{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
section{background: #fff;}
.cf{clear: both;}

html{
    font-size: 41.4px;
}

.btnOrange{
    background: #ffbc1c;
}
.btnBlue{
    background: #2dbcfe;
    color: #fff;
}
.btnGray{
    background: #e5e5e5;
    color: #777;
}
.btnCancel{
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
}


.clearfix {
    clear: both;
}



i.doudou-icon{
    display:inline-block; width:30px; height:30px;
    background:url('../images/bg_index.png') 0px 0px no-repeat;
    background-size:100px 150px;
}
.doudou-icon.index_ico_task{ background-position:0px 0px;}
.doudou-icon.index_ico_invest{ background-position:0 -60px;}
.doudou-icon.index_ico_comment{ background-position:-30px -60px;}
.doudou-icon.index_ico_friend{background-position:-30px 0px;}
.doudou-icon.index_ico_cash{background-position:-60px 0px;}
.doudou-icon.index_ico_user{background-position:0px -30px;}
.doudou-icon.index_ico_help{background-position:-30px -30px;}
.doudou-icon.index_ico_qq{background-position:-60px -30px;}
.doudou-icon.index_ico_screen{ background-position:-60px -60px;}
.doudou-icon.index_ico_game{ background-position:0 -90px;}



i.doudou2-icon{ display:inline-block; width:30px; height:30px; background:url(../images/bg_index_2.0.png) 0px 0px no-repeat; background-size:90px 90px; }
.doudou2-icon.index_ico_task{ background-position:0px 0px;}
.doudou2-icon.index_ico_invest{ background-position:-30px -60px;}
.doudou2-icon.index_ico_comment{ background-position:0px -30px;}
.doudou2-icon.index_ico_friend{background-position:-30px -60px;}
.doudou2-icon.index_ico_cash{background-position:0px -60px;}
.doudou2-icon.index_ico_user{background-position:0px -30px;}
.doudou2-icon.index_ico_help{background-position:-30px -30px;}
.doudou2-icon.index_ico_qq{background-position:-60px -60px;}
.doudou2-icon.index_ico_screen{ background-position:-60px 0px;}
.doudou2-icon.index_ico_game{ background-position:-30px 0px;}
.doudou2-icon.index_ico_daily_tasks{background-position:-30px -30px;}
.doudou2-icon.index_ico_recreation{background-position:-60px -30px;}

/* Font sizes */
.s8 {
    font-size: 8px !important;
}
.s10 {
    font-size: 10px !important;
}
.s12 {
    font-size: 12px !important;
}
.s13 {
    font-size: 13px !important;
}
.s14 {
    font-size: 14px !important;
}
.s16 {
    font-size: 16px !important;
}
.s18 {
    font-size: 18px !important;
}
.s19 {
    font-size: 19px !important;
}
.s20 {
    font-size: 20px !important;
}
.s22 {
    font-size: 22px !important;
}
.s24 {
    font-size: 24px !important;
}
.s25 {
    font-size: 25px !important;
}
.s26 {
    font-size: 26px !important;
}
.s27 {
    font-size: 27px !important;
}
.s28 {
    font-size: 28px; !important;
}
.s30 {
    font-size: 30px; !important;
}
.s32 {
    font-size: 32px !important;
}
.s34 {
    font-size: 34px !important;
}
.s36 {
    font-size: 36px !important;
}
.s38 {
    font-size: 38px !important;
}
.s40 {
    font-size: 40px !important;
}
.s50 {
    font-size: 50px !important;
}
.s64 {
    font-size: 64px !important;
}
/* Colors */
.color-white {
    color: #ffffff !important;
}
.color-red-lighter {
    color: #ffebee !important;
}
.color-red-light {
    color: #ffcdd2 !important;
}
.color-red {
    color: #f44336 !important;
}
.color-red-dark {
    color: #d32f2f !important;
}
.color-red-darker {
    color: #b71c1c !important;
}
.color-blue-lighter {
    color: #e3f2fd !important;
}
.color-blue-light {
    color: #90caf9 !important;
}
.color-blue {
    color: #2196f3 !important;
}
.color-blue-dark {
    color: #1976d2 !important;
}
.color-blue-darker {
    color: #0d47a1 !important;
}
.color-green-lighter {
    color: #e8f5e9 !important;
}
.color-green-light {
    color: #a5d6a7 !important;
}
.color-green {
    color: #4caf50 !important;
}
.color-green-dark {
    color: #388e3c !important;
}
.color-green-darker {
    color: #1b5e20 !important;
}
.color-yellow-lighter {
    color: #fffde7 !important;
}
.color-yellow-light {
    color: #fff59d !important;
}
.color-yellow {
    color: #ffeb3b !important;
}
.color-yellow-dark {
    color: #fbc02d !important;
}
.color-yellow-darker {
    color: #f57f17 !important;
}
.color-gray-lighter1 {
    color: #fafafa !important;
}
.color-gray-lighter {
    color: #eceff1 !important;
}
.color-gray-light {
    color: #cfd8dc !important;
}
.color-gray {
    color: #607d8b !important;
}
.color-gray-dark {
    color: #455a64 !important;
}
.color-gray-darker {
    color: #263238 !important;
}
/* Hover colors */
.color-hover-white:hover {
    color: #ffffff !important;
}
.color-hover-red-lighter:hover {
    color: #ffebee !important;
}
.color-hover-red-light:hover {
    color: #ffcdd2 !important;
}
.color-hover-red:hover {
    color: #f44336 !important;
}
.color-hover-red-dark:hover {
    color: #d32f2f !important;
}
.color-hover-red-darker:hover {
    color: #b71c1c !important;
}
.color-hover-blue-lighter:hover {
    color: #e3f2fd !important;
}
.color-hover-blue-light:hover {
    color: #90caf9 !important;
}
.color-hover-blue:hover {
    color: #2196f3 !important;
}
.color-hover-blue-dark:hover {
    color: #1976d2 !important;
}
.color-hover-blue-darker:hover {
    color: #0d47a1 !important;
}
.color-hover-green-lighter:hover {
    color: #e8f5e9 !important;
}
.color-hover-green-light:hover {
    color: #a5d6a7 !important;
}
.color-hover-green:hover {
    color: #4caf50 !important;
}
.color-hover-green-dark:hover {
    color: #388e3c !important;
}
.color-hover-green-darker:hover {
    color: #1b5e20 !important;
}
.color-hover-yellow-lighter:hover {
    color: #fffde7 !important;
}
.color-hover-yellow-light:hover {
    color: #fff59d !important;
}
.color-hover-yellow:hover {
    color: #ffeb3b !important;
}
.color-hover-yellow-dark:hover {
    color: #fbc02d !important;
}
.color-hover-yellow-darker:hover {
    color: #f57f17 !important;
}
.color-hover-gray-lighter1:hover {
    color: #fafafa !important;
}
.color-hover-gray-lighter:hover {
    color: #eceff1 !important;
}
.color-hover-gray-light:hover {
    color: #cfd8dc !important;
}
.color-hover-gray:hover {
    color: #607d8b !important;
}
.color-hover-gray-dark:hover {
    color: #455a64 !important;
}
.color-hover-gray-darker:hover {
    color: #263238 !important;
}
/* Backgrounds */
.bg-white {
    background-color: #ffffff !important;
}
.bg-red-lighter {
    background-color: #ffebee !important;
}
.bg-red-light {
    background-color: #ffcdd2 !important;
}
.bg-red {
    background-color: #f44336 !important;
}
.bg-red-dark {
    background-color: #d32f2f !important;
}
.bg-red-darker {
    background-color: #b71c1c !important;
}
.bg-blue-lighter {
    background-color: #e3f2fd !important;
}
.bg-blue-light {
    background-color: #90caf9 !important;
}
.bg-blue {
    background-color: #2196f3 !important;
}
.bg-blue-dark {
    background-color: #1976d2 !important;
}
.bg-blue-darker {
    background-color: #0d47a1 !important;
}
.bg-green-lighter {
    background-color: #e8f5e9 !important;
}
.bg-green-light {
    background-color: #a5d6a7 !important;
}
.bg-green {
    background-color: #4caf50 !important;
}
.bg-green-dark {
    background-color: #388e3c !important;
}
.bg-green-darker {
    background-color: #1b5e20 !important;
}
.bg-yellow-lighter {
    background-color: #fffde7 !important;
}
.bg-yellow-light {
    background-color: #fff59d !important;
}
.bg-yellow {
    background-color: #ffeb3b !important;
}
.bg-yellow-dark {
    background-color: #fbc02d !important;
}
.bg-yellow-darker {
    background-color: #f57f17 !important;
}
.bg-gray-lighter1 {
    background-color: #fafafa !important;
}
.bg-gray-lighter {
    background-color: #eceff1 !important;
}
.bg-gray-light {
    background-color: #cfd8dc !important;
}
.bg-gray {
    background-color: #607d8b !important;
}
.bg-gray-dark {
    background-color: #455a64 !important;
}
.bg-gray-darker {
    background-color: #263238 !important;
}
/* ------------------ Borders --------------------*/
.b {
    border: 1px solid #cfd8dc !important;
}
.bt {
    border-top: 1px solid #cfd8dc !important;
}
.br {
    border-right: 1px solid #cfd8dc !important;
}
.bb {
    border-bottom: 1px solid #cfd8dc !important;
}
.bl {
    border-left: 1px solid #cfd8dc !important;
}
.btlr {
    border-top-left-radius: 2px !important;
}
.btrr {
    border-top-right-radius: 2px !important;
}
.bblr {
    border-bottom-left-radius: 2px !important;
}
.bbrr {
    border-bottom-right-radius: 2px !important;
}
.brall {
    border-radius: 2px !important;
}
.bn {
    border: none !important;
}
.bnt {
    border-top: none !important;
}
.bnb {
    border-bottom: none !important;
}
.bnl {
    border-left: none !important;
}
.bnr {
    border-right: none !important;
}
.brad0 {
    border-radius: 0 !important;
}
.btlr0 {
    border-top-left-radius: 0 !important;
}
.btrr0 {
    border-top-right-radius: 0 !important;
}
.bblr0 {
    border-bottom-left-radius: 0 !important;
}
.bbrr0 {
    border-bottom-right-radius: 0 !important;
}
.brad {
    border-radius: 2px !important;
}
.bbdashed {
    border-bottom: 1px dashed #cfd8dc !important;
}
/* Vertical align */
.vat {
    vertical-align: top !important;
}
.vam {
    vertical-align: middle !important;
}
.vab {
    vertical-align: bottom !important;
}
/* Rows */
.row.no-padding {
    margin-left: 0;
    margin-right: 0;
}
.row.no-padding [class^="col-"] {
    padding: 0;
}
.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}
.row.padding [class^="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
/* Margins */
.m0 {
    margin: 0 !important;
}
.m5 {
    margin: 5px !important;
}
.m10 {
    margin: 10px !important;
}
.m15 {
    margin: 15px !important;
}
.m20 {
    margin: 20px !important;
}
.m25 {
    margin: 25px !important;
}
.m30 {
    margin: 30px !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt25 {
    margin-top: 25px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mt100 {
    margin-top: 100px !important;
}
.mt150 {
    margin-top: 150px !important;
}
.mt200 {
    margin-top: 200px !important;
}
.mr0 {
    margin-right: 0 !important;
}
.mr5 {
    margin-right: 5px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mr15 {
    margin-right: 15px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr25 {
    margin-right: 25px !important;
}
.mr30 {
    margin-right: 30px !important;
}
.mr40 {
    margin-right: 40px !important;
}
.mr50{
    margin-right: 50px !important;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb25 {
    margin-bottom: 25px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.ml0 {
    margin-left: 0 !important;
}
.ml5 {
    margin-left: 5px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.ml15 {
    margin-left: 15px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.ml25 {
    margin-left: 25px !important;
}
.ml30 {
    margin-left: 30px !important;
}
.ml40 {
    margin-left: 40px !important;
}
.ml50 {
    margin-left: 50px !important;
}
/* Minus margins */
.mlm5 {
    margin-top: -5px !important;
}
.mlm10 {
    margin-top: -10px !important;
}
.mlm15 {
    margin-top: -15px !important;
}
.mlm20 {
    margin-top: -20px !important;
}
.mlm25 {
    margin-top: -25px !important;
}
.mtm5 {
    margin-top: -5px !important;
}
.mtm10 {
    margin-top: -10px !important;
}
.mtm15 {
    margin-top: -15px !important;
}
.mtm20 {
    margin-top: -20px !important;
}
.mtm25 {
    margin-top: -25px !important;
}
.mrm5 {
    margin-top: -5px !important;
}
.mrm10 {
    margin-top: -10px !important;
}
.mrm15 {
    margin-top: -15px !important;
}
.mrm20 {
    margin-top: -20px !important;
}
.mrm25 {
    margin-top: -25px !important;
}
.mbm5 {
    margin-top: -5px !important;
}
.mbm10 {
    margin-top: -10px !important;
}
.mbm15 {
    margin-top: -15px !important;
}
.mbm20 {
    margin-top: -20px !important;
}
.mbm25 {
    margin-top: -25px !important;
}
/* Paddings */
.p0 {
    padding: 0 !important;
}
.p5 {
    padding: 5px !important;
}
.p10 {
    padding: 10px !important;
}
.p15 {
    padding: 15px !important;
}
.p20 {
    padding: 20px !important;
}
.p25 {
    padding: 25px !important;
}
.p30 {
    padding: 30px !important;
}
.pt0 {
    padding-top: 0 !important;
}
.pt5 {
    padding-top: 5px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pt25 {
    padding-top: 25px !important;
}
.pt30 {
    padding-top: 30px !important;
}
.pr0 {
    padding-right: 0 !important;
}
.pr5 {
    padding-right: 5px !important;
}
.pr10 {
    padding-right: 10px !important;
}
.pr15 {
    padding-right: 15px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pr25 {
    padding-right: 25px !important;
}
.pr30 {
    padding-right: 30px !important;
}
.pb0 {
    padding-bottom: 0 !important;
}
.pb5 {
    padding-bottom: 5px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pb15 {
    padding-bottom: 15px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pb25 {
    padding-bottom: 25px !important;
}
.pb30 {
    padding-bottom: 30px !important;
}
.pl0 {
    padding-left: 0 !important;
}
.pl5 {
    padding-left: 5px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.pl15 {
    padding-left: 15px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pl25 {
    padding-left: 25px !important;
}
.pl30 {
    padding-left: 30px !important;
}
/* Percent widths */
.per5 {
    width: 5% !important;
}
.per10 {
    width: 10% !important;
}
.per15 {
    width: 15% !important;
}
.per20 {
    width: 20% !important;
}
.per25 {
    width: 25% !important;
}
.per30 {
    width: 30% !important;
}
.per35 {
    width: 35% !important;
}
.per40 {
    width: 40% !important;
}
.per45 {
    width: 45% !important;
}
.per50 {
    width: 50% !important;
}
.per55 {
    width: 55% !important;
}
.per60 {
    width: 60% !important;
}
.per65 {
    width: 65% !important;
}
.per70 {
    width: 70% !important;
}
.per75 {
    width: 75% !important;
}
.per80 {
    width: 80% !important;
}
.per85 {
    width: 85% !important;
}
.per90 {
    width: 90% !important;
}
.per95 {
    width: 95% !important;
}
.per100 {
    width: 100% !important;
}
/* Typo */
.strong {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.normal {
    font-weight: normal;
}
.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Positions */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
/* Rotate helpers */
.rotate0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.rotate15 {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}
.rotate30 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.rotate45 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rotate60 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.rotate75 {
    -webkit-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    transform: rotate(75deg);
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate105 {
    -webkit-transform: rotate(105deg);
    -ms-transform: rotate(105deg);
    transform: rotate(105deg);
}
.rotate120 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.rotate135 {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.rotate150 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.rotate165 {
    -webkit-transform: rotate(165deg);
    -ms-transform: rotate(165deg);
    transform: rotate(165deg);
}
.rotate180 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotateM15 {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.rotateM30 {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.rotateM45 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.rotateM60 {
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.rotateM75 {
    -webkit-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    transform: rotate(-75deg);
}
.rotateM90 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.rotateM105 {
    -webkit-transform: rotate(-105deg);
    -ms-transform: rotate(-105deg);
    transform: rotate(-105deg);
}
.rotateM120 {
    -webkit-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    transform: rotate(-120deg);
}
.rotateM135 {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.rotateM150 {
    -webkit-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    transform: rotate(-150deg);
}
.rotateM165 {
    -webkit-transform: rotate(-165deg);
    -ms-transform: rotate(-165deg);
    transform: rotate(-165deg);
}
.rotateM180 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.minw10{
    min-width: 10px;
}
.minw20{
    min-width: 20px;
}
.minw30{
    min-width: 30px;
}
.minw40{
    min-width: 40px;
}
.minw50{
    min-width: 50px;
}
.minw60{
    min-width: 60px;
}
.minw70{
    min-width: 70px;
}
.minw80{
    min-width: 80px;
}
.minw90{
    min-width: 90px;
}
.minw100{
    min-width: 100px;
}
.minw150{
    min-width: 150px;
}
.minw200{
    min-width: 200px;
}
.minw250{
    min-width: 250px;
}
.minw300{
    min-width: 30px;
}
.maxw10{
    max-width: 10px;
}
.maxw20{
    max-width: 20px;
}
.maxw30{
    max-width: 30px;
}
.maxw40{
    max-width: 40px;
}
.maxw50{
    max-width: 50px;
}
.maxw60{
    max-width: 60px;
}
.maxw70{
    max-width: 70px;
}
.maxw80{
    max-width: 80px;
}
.maxw90{
    max-width: 90px;
}
.maxw100{
    max-width: 100px;
}
.maxw150{
    max-width: 150px;
}
.maxw200{
    max-width: 200px;
}
.maxw250{
    max-width: 250px;
}
.maxw300{
    max-width: 300px;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/*label*/

.label {
    padding: 0.5em 0.8em;
}
.label-default {
    background-color: #a1a1a1;
}
.label-primary {
    background-color: #59ace2;
}
.label-success {
    background-color: #A9D86E;
}
.label-info {
    background-color: #8175c7;
}
.label-warning {
    background-color: #FCB322;
}
.label-danger {
    background-color: #FF6C60;
}
.label-inverse {
    background-color: #344860;
}
/*text color*/
.text-danger {
    color: #FF6C60;
}
.text-muted {
    color: #a1a1a1;
}
.text-blue {
    color: #59ace2;
}
.text-primary {
    color: #41cac0;
}
.text-default {
    color: #555;
}
.text-warning {
    color: #FCB322;
}
.text-success {
    color: #A9D86E;
}
.text-info {
    color: #8175c7;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #333333;
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*button*/

.btn-default {
    background-color: #bec3c7;
    border-color: #bec3c7;
    color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #b0b5b9;
    border-color: #b0b5b9;
    color: #fff;
}

.btn-primary {
    background-color: #41cac0;
    border-color: #41cac0;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #39b2a9;
    border-color: #39b2a9;
    color: #FFFFFF;
}

.btn-success {
    background-color: #78CD51;
    border-color: #78CD51;
    color: #FFFFFF;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #6dbb4a;
    border-color: #6dbb4a;
    color: #FFFFFF;
}

.btn-info {
    background-color: #58c9f3;
    border-color: #58c9f3;
    color: #FFFFFF;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #53bee6;
    border-color: #53BEE6;
    color: #FFFFFF;
}

.btn-warning {
    background-color: #f1c500;
    border-color: #f1c500;
    color: #FFFFFF;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: #e4ba00;
    border-color: #e4ba00;
    color: #FFFFFF;
}

.btn-danger {
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: #FFFFFF;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #ec6459;
    border-color: #ec6459;
    color: #FFFFFF;
}

.btn-white {
    box-shadow: none !important;
}

/*Rounded Button*/
.btn-round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
}

/*shadow button*/

.btn-shadow.btn-default {
    box-shadow: 0 4px #9c9c9c;
}
.btn-shadow.btn-primary {
    box-shadow: 0 4px #29b392;
}
.btn-shadow.btn-success {
    box-shadow: 0 4px #61a642;
}
.btn-shadow.btn-info {
    box-shadow: 0 4px #1caadc;
}
.btn-shadow.btn-warning {
    box-shadow: 0 4px #cab03f;
}
.btn-shadow.btn-danger {
    box-shadow: 0 4px #d1595a;
}
.btn-xs {
    padding: 1px 5px;
}
.btn-sm, .btn-xs {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
/*badge*/
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
    border-radius: 10px;
}

.badge.bg-primary {
    background: #8075c4;
}

.badge.bg-success {
    background: #a9d86e;
}

.badge.bg-warning {
    background: #FCB322;
}

.badge.bg-important {
    background: #ff6c60;
}

.badge.bg-info {
    background: #41cac0;
}

.badge.bg-inverse {
    background: #2A3542;
}


.badge:empty {
    display: none;
}

.has-success .form-control {
    border-color: #468847;
    color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.has-warning .form-control {
    border-color: #c09853;
    color: #c09853;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.has-error .form-control {
    border-color: #b94a48;
    color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #e2e2e4;
    box-shadow: none;
    display: inline-block;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    border-radius: 4px;
}
/*基础*/
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clear{
    clear: both;
}
.img-auto{
    height:auto!important;
    width: auto!important;
}

.btn-yellow {
    margin: 10px 0px;
    height: 40px;
    color: #fff;
    font-size: 15px;
    background: #faa71b;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
i.info_renwu_ico {
    display: block;
    width: 15px;
    height: 15px;
    margin: 5px 5px 0px 0px;
    background: url(/dist/images/bg_common_sprite.png) -40px -8px no-repeat;
    background-size: 200px 200px;
    background-position: -55px -8px;
}

/********弹出********/
.bgmask{width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background-color: rgba(0, 0, 0, 0.4); z-index:1000;}
.z_box{background: rgba(0,0,0,0.6); height:100%; width: 100%;left:0; position:fixed;z-index: 300; display: block;top: 0px; overflow:hidden;}
.remind { }
.remind .weui-cell{
    font-size: 15px;
}
.remind_total {
    top: 150px;
    left: 50%;
    position: fixed;
    height: auto;
    z-index: 500;
    background: #fff;
    border-radius: 8px;
    width: 70%;
    margin-left: -35%;
}
.remind_total_wider{ width:80%; margin-left:-40%;}
.remind_total_top{ border-bottom:1px solid #eaeaea; padding:18px 20px 10px 20px; height:20px; line-height:20px; font-weight:normal; }
.remind_total_top h6{ text-align:center;font-size:15px; margin:0; padding:0;color:#555;}
.remind_text{ text-align: center; font-size:13px; padding:20px 20px 15px 20px; line-height:18px; color:#888; }

.remind_foot { padding:0 20px 20px 20px; clear:both;}
.remind_foot .remind_btn{text-align:center; height:40px; line-height:40px; border: none;display:block; margin:0 auto;font-size:14px;border-radius:8px; cursor: pointer;}
.remind_foot .btn_one{ background:#f9a71a; width:100%;  color:#fff; }
.remind_foot .btn_two{ background:#2bc6b6; width:100%;  color:#fff; }

.remind_special .remind_total_top{ border-bottom:0;}
.remind_special .remind_text{ padding-top:10px; padding-bottom:20px;}
.remind_special .remind_foot, .remind_know .remind_foot{ border-top:1px solid #eaeaea;}
.remind_special .remind_foot{ padding:0 0 20px 0;}
.remind_special .remind_foot .remind_btn{ background:none; width:50%; float:left; color:#b4b4b4;border-radius:0; height:48px; line-height:48px;}
.remind_special .remind_foot .btn_one{color:#fba81d; border-left:1px solid #eaeaea;}

.remind_know .remind_foot .remind_btn{ width:100%; color:#f8a719; background:none; float:left;border-radius:0; height:48px; line-height:48px;}
.remind_know .remind_text{ padding:20px 20px 15px 20px;}
.remind_text ul{ text-align:left; height:auto; overflow:hidden; color:#666;}
.remind_text ul li{ text-align:left; padding:5px 5px 5px 0; float:left; margin-bottom:5px; line-height:26px; width:100%}
.remind_text ul li i{ display:inline-block;margin-right:8px; float:left; font-style:normal; vertical-align:middle; margin-top:5px;}
.remind_text ul li i.task_process01{ background:url(../images/task_pop_icon.png) no-repeat 0 0;width:30px; height:30px; background-size:100px 125px; margin-top:-2px;margin-bottom:10px; }
.remind_text ul li i.task_process02{ background:url(../images/task_pop_icon.png) no-repeat 0 -30px;width:30px; height:30px; background-size:100px 125px; margin-top:-2px;margin-bottom:10px;}
.remind_text ul li i.task_process03{ background:url(../images/task_pop_icon.png) no-repeat 0 -60px;width:30px; height:30px; background-size:100px 125px; margin-top:-2px;}
.remind_text ul li i{ background:#f9a71a; color:#fff; width:18px; height:18px;border-radius:10px; line-height:18px; text-align:center;}
.remind_text img{ width:60%; margin:0 auto;}
.remind_text h5{ font-size:16px; color:#f9a71a; margin:10px 0 5px 0; font-weight:normal;  }

.remind_head {
    text-align:center;
    color:#888;
    border-bottom: 1px solid #eaeaea;
}
.remind_head span{
    color: #666;
    display: block;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
}
.remind_success { background:none; padding-top:40px;}
.remind_success .remind_total_top{ background:#fff; padding:0; height:auto;border-bottom:0; border-top-left-radius:8px;  border-top-right-radius:8px;}
.remind_success .remind_total_top label{background:#f9a71a; height:85px; display:block; width:100%; border-radius:8px;border-bottom-left-radius: 150px 50px;border-bottom-right-radius: 150px 50px;   }
.remind_success .remind_total_top img{ width:185px; height:90px;  margin-top:-100px; position:absolute;z-index:9999;}
.remind_success .remind_total_top em{background: url(../images/task_pop_success_img.png) no-repeat center center; background-size:185px 90px; width:185px; height:90px;  display:block;; position:absolute; top:0; left:50%; margin-left:-92px;overflow:auto; margin-top:-20px;}
.remind_success .remind_total_top h6{ color:#fff; font-size:15px; font-weight:normal; padding-top:43px;border-radius:8px;}
.remind_success .remind_text{ background:#fff; padding-top:15px;}
.remind_success .remind_text h5{ font-size:30px; margin-bottom:15px; }
.remind_success .remind_text span{color:#b5b5b5;}
.remind_success .remind_foot{ background:#fff;}
.remind_foot span{ text-align:center; display:block; margin-top:10px; color:#888;}
.remind_foot span a{ color:#f9a71a; padding:2px; padding-bottom:0; display:inline-block}
.remind_total_tune .remind_text{ padding-bottom:10px}
.remind_total_tune .remind_text h5{ color:#555;font-size:15px;}
.remind_total_tune .remind_text span{font-size:12px; color:#b5b5b5;}
.task_info_box .remind_know .remind_text ul li{ margin-bottom:0; line-height:22px; padding-top:3px;}
.task_info_box .remind_know .remind_text ul li span{ line-height:22px;}
.task_info_box .remind_know .remind_text ul li i{ margin-top:3px;}

.remind_know_picture{ width:90%; margin-left: -45%;}
.remind_know_picture .remind_text img{ width:100%;}
.remind_know_picture .remind_text li{ float:left; width:33%; padding:0; line-height:20px; }

.remind_know_picture_two .remind_text li em{background:url(../images/know_picture02.png) no-repeat; background-size:75px 165px; float:left;width:75px; height:55px; margin-right:8px; vertical-align:middle; text-align:center;}
.remind_know_picture_two .remind_text li span{ height:55px; display:block; line-height:22px;}
.remind_know_picture_two .remind_text li em.user_bind_process01{ background-position:0 0;}
.remind_know_picture_two .remind_text li em.user_bind_process02{ background-position:0 -54px;}
.remind_know_picture_two .remind_text li em.user_bind_process03{background-position:0 -109px;}

.remind_bind_success{ background:#fedb7f;box-shadow:0px 5px #de9213;}
.remind_bind_success img{ width:50%; margin:0 auto; padding:20px; text-align:center; vertical-align:middle; display:block;}
.remind_text span{line-height:22px;}
.remind_text label{ float:right; display:block; color:#f9a71a;}
.remind_text label i{ background:url(../images/exchange_home.png) no-repeat 0 0; width:15px; height:15px; background-size:114px 90px; display:inline-block; vertical-align:middle; text-align:center; margin-right:3px;}
.remind_text label a{ display:block; color:#f9a71a; padding:10px 0; margin-bottom:5px;}
.remind_total_left .remind_text{ text-align:left;}
.remind_bank_step{}
.remind_bank_step .remind_text img{ display:block; width:80%; margin-top:10px;}
.remind_bank_step{ top:60px;}
.remind_number{ height:20px; width:80px; margin:0px auto 10px auto; display:block;  }
.remind_number ul{}
.remind_number li{ width:10px; height:10px; float:left;  border-radius:30px; background:#aaaaaa;margin:0 5px;}
.remind_number li.select{ background:#f9a71a;}
.remind_bank_step .remind_text ul li i{ margin-top:0; margin-bottom:10px;}

a.pop_close{  background: url(../images/pop_close_up.png) no-repeat 20px 0; width:45px; height:45px; position:absolute; top:-45px; right:0; background-size:25px 45px; padding-left:20px;}

/*masker*/
.m-img {
    padding-bottom: 33%;
    display: block;
    position: relative;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 2px;
}
.m-title {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.m-time {
    font-size: 12px;
    padding-top: 4px;
    border-top: 1px solid #f0f0f0;
    display: inline-block;
    margin-top: 5px;
}
/*任务列表样式*/
.task-scroller .xs-container{
    min-height: 95%;
}
.task-list .weui-cells {
    margin-top: 10px;
}
.task-list .task-item .preview {
    position: absolute;
    background: rgba(0,0,0,0.2);
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    left: -10px;
    right: -10px;
    top: -10px;
    text-shadow: 1px 1px 1px #ccc;
    font-weight: 300;
}
.task-list .task-item .preview:after {
    content: '';
    width: 200px;
    border-bottom:1px solid #ffffff;
}
.task-list .task-item:nth-child(1) .preview {
    background: rgba(0,0,0,0.1);
}
.task-list .task-item {
    border-bottom: 1px solid #eeeeff;
    margin: 15px 10px;
    font-size: 13px;
    position: relative;
    height: 65px;
}
.task-list .task-item:last-child {
    border-bottom: none;
}
.task-list .task-item .task-log, .task-list .task-item .task-detail, .task-list .task-item .actions {
    display: inline-block;
}
.task-list .task-item .task-log {
    width: 50px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.task-list .task-item .task-log img{
    width: 40px;
    height:40px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.task-list .task-item .task-detail {
    width: 55%;
    color: #555;
    height:25px;
    line-height:25px;
    float: left;
}
.task-list .task-item .task-detail .task-head{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.task-list .task-item .task-detail .task-info{
    color: #999;
}
.task-list .task-item .actions {
    width: 20%;
}
.task-list .task-item .actions .button {
    position: absolute;
    top: 15px;
    text-align: center;
    display: block;
    width: 75px;
    height: 25px;
    line-height: 25px;
    color: #f80;
    border: #f80 solid 1px;
    border-radius: 5px;
    overflow: hidden;
    right: 0;
}

.task-list .task-item .actions .button.disabled{
    color: #888;
    border: #888 solid 1px;
}
.task-list .task-item .actions .button.primary{
    color: #00AA88;
    border: #00AA88 solid 1px;
}
.task-list .task-item .actions .button.blue{
    color: #00a1cb;
    border: #00a1cb solid 1px;
}
.task-list .nothing {
    text-align:center;
    color:#555;
    padding:20px;
    font-size:14px;
}
.task-list .nothing img{
    width: 50%;
    margin:0 auto;
    max-width: 400px;
    max-height: 400px;
}
.task-list .nothing p{
    margin-top: 15px;
}
.task-scroller .xs-plugin-pullup-container, .xs-plugin-pulldown-container{
    line-height:40px;
    color: #555;
}

/********任务详情页********/
.task_info{ background:#ffffff; height:100%;padding:0 15px 20px 15px; overflow:hidden;}
.task_info_top{ height:auto; overflow:hidden; border-bottom:1px #eaeaea solid;padding:20px 0;}
.task_info_top .img-container{ width:60px; height:60px; float:left; margin-right:12px; overflow: hidden; }
.task_info_top .img-container img{ width: 60px; height:60px;float: left; border-radius:10px; }
.task_info_top dl{ float: left; width:50%; font-size:12px;color:#888; line-height:18px;}
.task_info_top dl dt{ font-size:17px; color:#383838; margin:3px 0 5px 0;}
.task_info_top dl dd{ color:#888;}
.task_info_top dl dd.orange{ color:#f9a71a !important}
.task_info_top dl dd.orange i{ background:url(../images/task_info_img.png) no-repeat; background-position:0 0; width:10px; height:10px; background-size:40px 40px; display:inline-block; margin-right:3px;}
.task_info_top dl dd.orange em{}
.task_info_top label{ float:right; height:60px; line-height:60px; font-size:20px; color:#fc6e51; }
.task_info_top label em{ font-size:12px;}
.task_info_introduce{ height:auto; overflow:hidden; clear:both; margin-bottom:30px;}
.task_info_introduce h5{ font-size:14px; color:#555555; border-left:3px solid #f9a71a; text-indent:0.6em; margin:20px 0 15px 0;}
.task_info_introduce h5 a{ float:right; font-size:12px; color:#888;}
.task_info_introduce h5 a i{ background:url(../images/task_info_img.png) no-repeat; background-size:40px 40px; width:12px; height:12px; display:inline-block; background-position:0 -10px; margin-right:3px; vertical-align:middle; margin-bottom:3px;}
.task_info_introduce_con{ height:auto; overflow:hidden;background:#f6f6f6; padding:15px 15px 0 15px; color:#888; font-size:13px;  }
.task_info_introduce_con p{margin-bottom:15px; line-height:24px;}
.task_info_introduce_con p em{ color:#fc6e51;}
.task_info_btn a{ width:100%; height:40px;border-radius:5px; margin-bottom:15px; text-align:center; color:#fff; font-size:16px; display:block; line-height:40px;}
.btn_orange{ background:#f9a71a;}
.btn_green{ background:#2bc7b5;}
.btn_gary{ background:#cacaca;}
.btn_danger{ background:#fc6e51;}

/*登录页面*/
.login_box{}
.login_banner{ height:130px; width:100%; background:#f9a61a bottom right no-repeat; background-size:85px 80px; text-align:center;}
.login_banner i{ margin-top:35px; display:inline-block; width:170px; height:60px; background:url(../images/logo/logo-register.png) 0 0 no-repeat; background-size:170px 60px;}
.btn_full_login{ border:none; margin:20px 5% 0px 5%; height:40px; width:90%; text-align:center; line-height:40px; background-color:#f9a61a;  color:#fff; border-radius:6px;}
.shuru{ background-color:#fff;border-bottom:#dfdfdf solid 1px;}
.shuru li{ position:relative; width:90%; margin:0px 5%; border-bottom:#f1f1f1 solid 1px; height:50px; line-height:50px;}
.shuru li.noborderbottom{ border-bottom:none;}
.shuru li i{ float:left; width:16px;  height:16px; background:url(../images/verification_prompt_icon.png) 0px 0px no-repeat; background-size:15px 62px; margin:16px 0px 0px 3%;}
.shuru li i.username_ico{ background-position:0px -15px;}
.shuru li i.userdxyz_ico{ background-position:0px -46px;}
.shuru li input{ width:50%; text-indent:10px; height:30px; line-height:30px; font-size:14px; color:#444; border:none; outline:none; cursor:pointer; margin-top:0px;}
.shuru li input.btn_dxyz{margin-top:8px; position:absolute; right:0px;top:1px; height:32px; line-height:32px; color:#fff; width:80px; text-indent:0px; text-align:center; padding:0px 15px; font-size:13px; border-radius:3px; background-color:#ffcc00;}
.shuru li input.btn_dxyz.btn_dxyz_waiting{ margin-top:8px; background-color:#ccc; }
.shuru li input.user_yzm_width{ width:60%;}

/*兑换明细和收入明细空白页面*/
.exchange_blank{ padding:0px; margin:0px; border:none;}
.exchange_blank i{ display:block; background:url(../images/exchange_blank_icon.png) no-repeat; background-size:161px 130px; margin:0 auto; height:130px; width:161px; margin-top:80px;}
.exchange_blank i.shr_back{ background:url(../images/income_detail_blank_icon.png) no-repeat; background-size:161px 130px;}
.exchange_blank p{ color:#999999; font-size:13px; margin:10px auto; vertical-align:middle; text-align:center;}
.exchange_blank a{  height:40px; color:#ababab; background:#ffffff; text-align:center; line-height:40px; border-radius:5px; border:#dedede solid 1px; margin:30px 20% 0px 20%; display:block;}

/*帮助中心-试玩任务*/
.help_answers_box{ background-color:#fff; border-top:#e2e2e2 solid 1px; border-bottom:#e2e2e2 solid 1px; margin:0px 0px 15px 0px; padding:0px 15px;}
.help_answers_box h3{ color:#555; font-size:13px; line-height:15px; border-bottom:#e2e2e2 solid 1px; padding:15px 0px;}
.step_mark_box{ margin:8px 0px;}
.step_mark{ padding:5px 0px; font-size:12px; color:#333333; padding-left:25px;}
.step_mark_box p{ float:left;  position:relative; display:block; font-size:12px; color:#666666; line-height:20px; margin:3px 0px;}
.step_mark_box p i{ position:absolute; background:#ffffff; width:13px; height:13px; top:1px; left:-25px; border-radius:13px; border:#aaaaaa solid 1px; color:#aaaaaa; z-index:1000; text-align:center; line-height:13px; font-style:normal; font-size:10px;}
.step_mark_box p em{ font-style:normal; color:#faa71b; margin:0px 2px 0px 0px;}